@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<br />
<h3>Horror Book Collection</h3>


<div class="row">

    <div class="col-md-3">
        <img src="~/Images/Horror/3c41f6f3040e88a3c4ef51c70c130511.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Horror/9781416507697_custom-s6-c30.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Horror/carrie-book-cover-31.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Horror/Cellar.jpg" width="200" height="200" class="rounded" />
    </div>

</div>

<br />
<hr />
<h3>Romantic Book Collection</h3>
<div class="row">

    <div class="col-md-3">
        <img src="~/Images/Romance/cover_me_before_you_mti.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Romance/holiday_ittakestwo_mm.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Romance/premade_castlesky3327.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Romance/Delamere A LadyMostLovely.jpg" width="200" height="200" class="rounded" />
    </div>

</div>

<br />
<hr />

<h3>Department Book Collection</h3>
<div class="row">

    <div class="col-md-3">
        <img src="~/Images/Books/Mrityukshuda.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Books/Noukadubi.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Books/Financial Management.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Books/The Bluest Eye.jpg" width="200" height="200" class="rounded" />
    </div>

</div>

<br />
<hr />

<h3>Author Image</h3>
<div class="row">

    <div class="col-md-3">
        <img src="~/Images/Authors/Kazi Nazrul Islam.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Authors/Rabindranath Tagor.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Authors/William Shakespere.jpg" width="200" height="200" class="rounded" />
    </div>

    <div class="col-md-3">
        <img src="~/Images/Authors/F W Taylor.jpg" width="200" height="200" class="rounded" />
    </div>

</div>
