
@{
    ViewData["Title"] = "Information about project";
}
<br />

<p class="bg-primary"><h2>@ViewBag.Title</h2></p>

<div class="row">
    <div class="col-md-4">
        <div class="text-primary"><h2>Requirments</h2></div>
        <ul>
            <li>ASP.Net Core Code-First </li>
            <li>Relational Databse with image </li>
            <li>Use of DataAnnotaions in Model</li>
            <li>Use of ViewModels</li>
            <li>Use Paging + Sorting + Searching</li>
            <li>Use AJAX</li>
            <li>Use of Partial View</li>
            <li>Identity Authentcation with role</li>
            <li>Identity Authentcation with RoleManagement</li>
            <li>Bootstrap Responsive</li>
            <li>Bootstrap Design</li>
            <li>Relational Data Operation</li>
            <li>Insert Enumerable / List / Array Data in Table Using JQuery</li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="text-primary"><h2>Highlights</h2></div>
        <ul>
            <li>EF Version 6.2.0</li>
            <li>Bootstrap 4 + Font-awesome 4.7.0</li>
            <li>PageList for paging</li>
            <li>Bootstrap DatePicker V3</li>
            <li>Only Admin can Create & Delete Roles </li>
            <li>Only Admin can see all User List</li>
            <li>Only Admin can Create Id for Teacher</li>
            <li>Admin can Insert, Update & Delete Data</li>
            <li>Teacher can Insert & Update</li>
            <li>Other User can read only</li>
            <li>Every User can see own Profile </li>
        </ul>

    </div>
    <div class="col-md-4">
        <div class="text-primary"><h2>Help</h2></div>
        <ul>
            <li>
                <h4>LibraryManagement</h4>
                <ul>
                    <li>CRUD Operation On all Table</li>
                    <li>Show Details By Faculty</li>
                    <li>Insert Multiple raw in same time on Faculty Table</li>
                    <li>Fully-AJAX supported</li>
                    <li>Paging, Sorting and searching support</li>
                    <li>Paging maintains sort and search states</li>
                </ul>
            </li>

        </ul>
    </div>
</div>

