@{
    ViewData["Title"] = "Location";
}
<br />
<h2>@ViewData["Title"]</h2>

<div class="col-md-12">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="1000" height="305" id="gmap_canvas" src="https://maps.google.com/maps?q=House.%20131%20%2C%20block%20A%2C%20Road%204%2C%20Banani&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net"></a>
        </div>
        <style>
            .mapouter {
                text-align: right;
                height: 305px;
                width: 1080px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 305px;
                width: 1080px;
            }
        </style>
    </div>
</div>

<div class="hr1" style="margin-bottom:20px;"></div>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
